body {
    background-color: linear-gradient(-45deg, #680505, #9d8f09, rgb(2, 99, 71), rgb(31, 1, 120));
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: darkolivegreen;
}