@font-face {
    font-family: 'MyPixelFont';
    src: url('fonts/MyPixelFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

header{
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;

    background-image: url('images/background_art/Arcade Background1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}

header h1 {
    position: absolute;

    top: 41.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: center;
    color:darkgoldenrod;
    font-family:'MyPixelFont', sans-serif;
    font-size: clamp(1.5rem, 3.2vw, 3.2vw);
    text-shadow: 2px 2px rgb(0, 12, 5);
}

body{
    background: linear-gradient(-45deg, #150f59, #2c0719);

    padding: 0;

}

#menu_navigation {
    position: relative;
    display: inline-block;
}

#menu_navigation:hover .dropdown-content {
    display: block;
}

.dropbtn {
    border: 2px solid rgb(29, 1, 49);
    /* opacity: 15%; */
    background-color: rgb(169, 101, 208);
    padding: 1.5rem 3rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0px 8px 16px rgb(29, 1, 49);
    background-color: rgba(169, 101, 208);
    
}

.dropdown-content a {
    display: block;
    color: bisque;
    border: 2px solid rgb(29, 1, 49);
    padding: 1.5rem 3rem;
}



/* nav ul{

    justify-content: center;
    padding: 20px;

} */

/* #menu_navigation {
    background-color: darkslategrey;
    width: fit-content;
    padding: 20px;
    justify-content: center;
    color: darkgoldenrod;

}

nav li {

    padding: 40px;
    border-width: 4px;

} */



h2 {
    color:brown;
}

p {
    max-width: 800px;
    color: antiquewhite;
}