@font-face {
    font-family: 'MyPixelFont';
    src: url('fonts/MyPixelFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

header{
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;

    background-image: url('images/background_art/Arcade Background1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}

header h1 {
    position: absolute;

    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: center;
    color:darkgoldenrod;
    font-family:'MyPixelFont', sans-serif;
    font-size: clamp(1.5rem, 3.2vw, 3.2vw);
    text-shadow: 2px 2px rgb(0, 12, 5);
}

body{
    background: linear-gradient(-45deg, #150f59, #2c0719);

    padding: 0;

}

nav ul{

    justify-content: center;
    padding: 20px;

}

#menu_navigation {
    background-color: darkslategrey;
    width: fit-content;
    padding: 20px;
    justify-content: center;
    color: darkgoldenrod;

}

nav li {

    padding: 40px;
    border-width: 4px;

}



h2 {
    color:brown;
}

p {
    max-width: 800px;
    color: antiquewhite;
}