@font-face {
    font-family: 'MyPixelFont';
    src: url('fonts/MyPixelFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    color:darkgoldenrod;
    font-family:'MyPixelFont', sans-serif;
    font-size:8rem
}

h2 {
    color:brown;
}